    <footer>
        <div class="conteiner-f">
            <div class="row-f">
                <div class="col-2-f">
                    <ul class="f-list">
                        <li><a href="{{ url_for('Hakkımda') }}">Hakkımda</a></li>
                        <li><a href="{{ url_for('İletisim') }}">İletişim</a></li>
                        <li>Blog</li>
                        <li>Forum</li>
                    </ul>
                </div>
                <div class="col-2-f col-2-f-right">
                    <ul class="f-s-list">
                        <li><a href="https://www.instagram.com/ayhanakarsu/" class="fab fa-instagram"></a></li>
                        <li><a href="" class="fab fa-facebook"></a></li>
                        <li><a href="" class="fab fa-twitter"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <a href="#body" class="scroll-fixed">
        <i class="fas fa-chevron-circle-up"></i>
    </a>