<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body id="body">
    <header class="main-header">
        <a href="#" class="logo">MovieApp</a>
        <nav class="main-nav">
            <ul class="main-header__items">

                <li class="main-header__item"> <a href="#">Filmler</a></li>
                <li class="main-header__item"><a href="#">Diziler</a></li>
                <li class="main-header__item"><a href="{{ url_for('Uyelik') }}">Üye Ol</a></li>
                <li class="main-header__item main-header__item-login"><a href="{{ url_for('Login') }}">Giriş Yap</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id = "showcase">
            <div class="content">
                <h2>Welcome</h2>
                <h1>Millions of movies, TV shows and peaple to discover. Explore now</h1>
            </div>
        </section>
        <section id = "how-it-works">
            <div class="row">
                <h1>How it works?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fugit officia a laudantium at quisquam ipsum fuga, dolor ad      voluptatibus impedit illum quam laborum ipsam doloremque recusandae deleniti eveniet. Cum.</p>
            </div>
            <div class="row">
                <div class="icon-box col">
                    <i class="fa-solid fa-right-to-bracket fa-3x"></i>
                    <h3>Register</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe dignissimos facere impedit doloremque nobis officiis tempora, quas ut enim porro minima! Explicabo deserunt libero ipsum iusto ipsa, exercitationem quasi deleniti?</p>
                </div>
                <div class="icon-box col">
                    <i class="fa-brands fa-buffer fa-3x"></i>
                    <h3>Choose a Plan</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis doloremque esse possimus sequi voluptatum sapiente nisi temporibus animi corrupti. Excepturi, obcaecati cumque. Ex eum, error magnam veritatis quo voluptatem inventore!</p>
                </div>
                <div class="icon-box col">
                    <i class="fa-solid fa-face-smile fa-3x"></i>
                    <h3>Enjoy Movies</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti magnam ipsa aut! Voluptatum est eum quasi eius nemo. Voluptatum quo totam sapiente, saepe culpa temporibus iste dolorem rem corporis nam?</p>
                </div>
            </div>
        </section>
        <section id="Features">
            <div class="row2">
                <div class="col-2 col-2-left"></div><div class="col-2 col-2-right">
                    <h2>Wach all Movies & Shows once they get released!</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse sunt, facilis mollitia illo repellendus exercitationem corrupti, ut dicta ullam laboriosam iste fugiat ea labore suscipit sit totam vitae harum quod?</p>
                    <a href="#">View Features</a>
                </div>
            </div>
        </section>
        <section id="plans">
            <h2 class="plan-title">Became a Premium Member</h2>
            <div class="container clearfix">
                <div class="plan">  
                    <h2>Free</h2>
                    <h3>0/month</h3>
                    <ul class="ul-plan">
                        <li>HD available</li>
                        <li>Unlimeited Movies and TV shows</li>
                        <li>Watch on your phone  & tsblet</li>
                        <li>Dowload and watch office</li>
                        <li>Screens you can watch</li>
                        <li>Find month Free</li>
                    </ul>
                    <div>
                        <button class="button">Choose Plan</button>
                    </div>
                </div>
                <div class="plan plan-featres">
                    <div class="inner-plan recomended-plan">
                        <h2 class="Recommended">Recommended</h2>
                        <h2>Free</h2>
                        <h3>0/month</h3>
                        <ul class="ul-plan">
                            <li>HD available</li>
                            <li>Unlimeited Movies and TV shows</li>
                            <li>Watch on your phone  & tsblet</li>
                            <li>Dowload and watch office</li>
                            <li>Screens you can watch</li>
                            <li>Find month Free</li>
                        </ul>
                        <div>
                            <button class="button">Choose Plan</button>
                        </div>
                    </div>
                </div>
                <div class="plan">
                    <h2>Free</h2>
                    <h3>0/month</h3>
                    <ul class="ul-plan">
                        <li>HD available</li>
                        <li>Unlimeited Movies and TV shows</li>
                        <li>Watch on your phone  & tsblet</li>
                        <li>Dowload and watch office</li>
                        <li>Screens you can watch</li>
                        <li>Find month Free</li>
                    </ul>
                    <div>
                        <button class="button">Choose Plan</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="counters">
            <div class="counter clearfix">
                <div class="col-3">
                    <span class="counter-item">568</span>
                    <h4>Movies</h4>
                </div>
                <div class="col-3">
                    <span class="counter-item">359</span>
                    <h4>TV Shows</h4>
                </div>
                <div class="col-3">
                    <span class="counter-item">956</span>
                    <h4>Users</h4>
                </div>
            </div>
        </section>
        <section id="Movies">
            <h2 class="section-title">Latest Movies & TV Shows</h2>
                <div class="container-4">
                    <div class="row-4 clearfix">
                        <div class="col-4-card">
                            <div class="card">
                                <img class="card-image" src="\app\img\poster-1.jpeg" alt="">
                                <div class="card-body">
                                    <h2>Star Wars</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, perferendis.</p>
                                    <p>
                                        <button class="card-buttom">Details</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4-card">
                            <div class="card">
                                <img class="card-image" src="\app\img\poster-2.jpeg" alt="">
                                <div class="card-body">
                                    <h2>The Brain</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, perferendis.</p>
                                    <p>
                                        <button class="card-buttom">Details</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4-card">
                            <div class="card">
                                <img class="card-image" src="\app\img\poster-3.jpeg" alt="">
                                <div class="card-body">
                                    <h2>The Mummy</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, perferendis.</p>
                                    <p>
                                        <button class="card-buttom">Details</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4-card">
                            <div class="card">
                                <img class="card-image" src="\app\img\poster-4.jpeg" alt="">
                                <div class="card-body">
                                    <h2>Daredevil</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, perferendis.</p>
                                    <p>
                                        <button class="card-buttom">Details</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <footer>
        <div class="conteiner-f">
            <div class="row-f">
                <div class="col-2-f">
                    <ul class="f-list">
                        <li><a href="{{ url_for('Hakkımda') }}">Hakkımda</a></li>
                        <li><a href="{{ url_for('İletisim') }}">İletişim</a></li>
                        <li>Blog</li>
                        <li>Forum</li>
                    </ul>
                </div>
                <div class="col-2-f col-2-f-right">
                    <ul class="f-s-list">
                        <li><a href="https://www.instagram.com/ayhanakarsu/" class="fab fa-instagram"></a></li>
                        <li><a href="" class="fab fa-facebook"></a></li>
                        <li><a href="" class="fab fa-twitter"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <a href="#body" class="scroll-fixed">
        <i class="fas fa-chevron-circle-up"></i>
    </a>
</body>
</html>